/* CSS3 */

/* The whole thing */
.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #008080;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.productsname{
	position:absolute;
	padding:110px 0px;
	z-index:1;
	font-size:20px;
	font-family:"Times New Roman", Times, serif;
	color:white;      
}
#prod, #flip {
    padding: 5px;
    text-align: center;
    background-color: white;

}

#prod {
    padding: 20px;
    display: none;
}
.prodid {
    color: white;
    margin: 5px;
    cursor: pointer;
  }
  .prodid:hover {
    background:#008080;
  }
  
  /*table design*/
  #parentTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100px;
    position:absolute;
    left:1100px;
    bottom:350px;  
   
}

#parentTable td, #parentTable th {
    border: 1px solid #ddd;
    padding: 8px;
    
}

#parentTable tr:nth-child(even){background-color: #f2f2f2;}

#parentTable tr:hover {background-color: #ddd;}

#parentTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008080;
    color: white;
    
      
}