<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>stock</display-name>
    <servlet>
    	<display-name>stockServlet</display-name>
    	<servlet-name>stockServlet</servlet-name>
    	<servlet-class>com.smartglossa.stock.stockServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>productsServlet</servlet-name>
    	<servlet-class>product.productsServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ProductServlet</display-name>
    	<servlet-name>ProductServlet</servlet-name>
    	<servlet-class>com.smartglossa.product.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>stockServlet</servlet-name>
    	<url-pattern>/stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>productsServlet</servlet-name>
    	<url-pattern>/prod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ProductServlet</servlet-name>
    	<url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
