<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>stock</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>StockServlet</display-name>
    	<servlet-name>StockServlet</servlet-name>
    	<servlet-class>com.smartglossa.stock.StockServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ProductServlet</display-name>
    	<servlet-name>ProductServlet</servlet-name>
    	<servlet-class>com.smartglossa.product.ProductServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>PriceServlet</display-name>
    	<servlet-name>PriceServlet</servlet-name>
    	<servlet-class>com.smartglossa.price.PriceServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CompanyServlet</display-name>
    	<servlet-name>CompanyServlet</servlet-name>
    	<servlet-class>com.smartglossa.companyProduct.CompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>StockServlet</servlet-name>
    	<url-pattern>/stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ProductServlet</servlet-name>
    	<url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PriceServlet</servlet-name>
    	<url-pattern>/PriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CompanyServlet</servlet-name>
    	<url-pattern>/CompanyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
    </web-app>
